HTML {
  font-family: Arial;
  background-color: #80A0C0; 
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

P {
  margin: 1ex;
}
  
BODY {
  margin: 0px;
}

H1 {
  font-size: 20px;
  background-color: #405060; 
  color: white;
  padding: 1ex;
  margin: 0px;
}

.message {
  background-color: #B40000;
  margin: 0px;
  margin-bottom: 2ex;
  color: white;
}

.instruction {
  font-size: 12px;
  margin-bottom: 2ex;
  padding: 0px;
}

.ival {
  width: 2em;
}

.name {
  width: 6em;
}

INPUT {
  background-color: #B0C0E0; 
  border : none;
  margin: 2px;
}

.plusone {
  width: 6em;
}

.plusone, .button {
  display: inline-block;
  padding: 0.5ex 1ex 0.5ex 1ex;
  background-color: #303080; 
  border: 1px solid black;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  margin: 1ex 0.25ex 1ex 0.25ex ;
}

.link {
  display: inline-block;
  text-decoration: none;
  background-color: #405060; 
  border: 1px solid black;
  border-radius: 8px;
  font-size: 12px;
  width: 5em;
  color: white;
}

.record {
  font-family: courier;
  font-size: 11px;
}

